### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [43]:
# Dependencies and Setup
import pandas as pd

# File to Load 
pymoli = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(pymoli)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",$3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,$1.56
2,2,Ithergue48,24,Male,92,Final Critic,$4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,$3.27
4,4,Iskosia90,23,Male,131,Fury,$1.44

## Player Count

* Display the total number of players

In [44]:
#find the total number of player
Total_players = len(purchase_df["SN"].unique())
# create a data frame with total_players count 
player_count = pd.DataFrame({"Total players":Total_players},index = [0])
player_count

   Total players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [45]:
number_items = purchase_df["Item ID"].nunique()
avg_price = purchase_df["Price"].mean()
total_purchases = purchase_df["Purchase ID"].nunique()
total_revenue = purchase_df.Price.sum()

# Create df
purchasing_analysis = pd.DataFrame({"Number of Unique Items": [number_items],
                              "Average Price": [avg_price],
                              "Number of Purchases": [total_purchases],
                              "Total Revenue": [total_revenue]})

# Format
pd.options.display.float_format = '${:,.2f}'.format

# Display df
purchasing_analysis

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179          $3.05                  780      $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [46]:
groupby_sn_gender = purchase_df.groupby(["SN","Gender"])
genderdemo_df = pd.DataFrame(groupby_sn_gender.size())

pymoli_by_gender = pd.DataFrame(genderdemo_df.groupby(["Gender"]).count())
pymoli_by_gender.columns= ["Total Count"]

pymoli_by_gender["Percentage of Players"] = round(100*(pymoli_by_gender["Total Count"]/pymoli_by_gender["Total Count"].sum()),2)

pymoli_by_gender = pymoli_by_gender[["Percentage of Players","Total Count"]]


female_count = pymoli_by_gender["Total Count"].loc["Female"]

male_count = pymoli_by_gender["Total Count"].loc["Male"]

other_count = pymoli_by_gender["Total Count"].loc["Other / Non-Disclosed"]

pymoli_by_gender

                       Percentage of Players  Total Count
Gender
Female                                $14.06           81
Male                                  $84.03          484
Other / Non-Disclosed                  $1.91           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [47]:
# Calculations
gender_counts = purchase_df.groupby(["Gender"]).count()["Price"].rename("Purchase Count")
gender_avg = purchase_df.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")
gender_total_purchases = purchase_df.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
cleaned = gender_total_purchases / pymoli_by_gender["Total Count"]

# Create df
gender_data = pd.DataFrame({"Purchase Count": gender_counts, "Average Purchase Price": gender_avg, "Total Purchase Value": gender_total_purchases, "Normalized Totals": cleaned})

# Format
gender_data["Average Purchase Price"] = gender_data["Average Purchase Price"].map("${:,.2f}".format)
gender_data["Total Purchase Value"] = gender_data["Total Purchase Value"].map("${:,.2f}".format)
gender_data ["Purchase Count"] = gender_data["Purchase Count"].map("{:,}".format)
gender_data["Avg Total Purchase per Person"] = gender_data["Normalized Totals"].map("${:,.2f}".format)
gender_data = gender_data.loc[:, ["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"]]

# Display df
gender_data

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [48]:
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# slice the data using pd.cut and  Categorize the existing players based on age_bins  
purchase_df["Age Group"] = pd.cut(purchase_df["Age"],bins, labels=group_names)
purchase_df

# do a groupby on Age Group 
groupby_age = purchase_df.groupby("Age Group")
#calculate total count and percenatge of players by age category
totalplayers_age = groupby_age["SN"].nunique()
Percent_of_players = (totalplayers_age/Total_players)*100
# create a DataFrame to hold the above results 
pymoli_byage = pd.DataFrame({"Percentage of players":Percent_of_players,"Total count":totalplayers_age})
# give the displayed data cleaner formatting
pymoli_byage.index.name = None
pymoli_byage["Percentage of players"] = pymoli_byage["Percentage of players"].map("{:.2f}".format)
pymoli_byage

      Percentage of players  Total count
<10                    2.95           17
10-14                  3.82           22
15-19                 18.58          107
20-24                 44.79          258
25-29                 13.37           77
30-34                  9.03           52
35-39                  5.38           31
40+                    2.08           12

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [50]:
# do calculations to obtain purchase count, avg. purchase price, total purchase value , average purchase per person
purchase_count = groupby_age["Age"].count()
avg_purchase = groupby_age["Price"].mean()
total_purchase_value = groupby_age["Price"].sum()
avg_purchase_person =(groupby_age["Price"].sum()/totalplayers_age)

# create a DataFrame to hold the above results 
Purchase_analysis_age = pd.DataFrame({"Purchase count":purchase_count,"Average Purchase Price":avg_purchase,
                           "Total Purchase value":total_purchase_value,"Average Purchase Total per person":avg_purchase_person})
# give the displayed data cleaner formatting 
Purchase_analysis_age["Average Purchase Price"] = Purchase_analysis_age["Average Purchase Price"].map("${:.2f}".format)
Purchase_analysis_age["Total Purchase value"]  = Purchase_analysis_age["Total Purchase value"].map("${:,.2f}".format)
Purchase_analysis_age["Average Purchase Total per person"] = Purchase_analysis_age["Average Purchase Total per person"].map("${:.2f}".format)
Purchase_analysis_age

,Purchase count,Average Purchase Price,Total Purchase value,Average Purchase Total per person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [51]:

groupby_sn = purchase_df.groupby("SN")

# do calculations to obtain purchase count, avg. purchase price, total purchase value 
purchase_count = groupby_sn["Age"].count()
avg_purchase = groupby_sn["Price"].mean()
total_purchase_value = groupby_sn["Price"].sum()

# create a DataFrame to hold the results 
Top_spenders = pd.DataFrame({"Purchase count":purchase_count,"Average Purchase Price":avg_purchase,
                           "Total Purchase value":total_purchase_value})

# Sort the total purchase value column in descending order 
Top_spenders = Top_spenders.sort_values("Total Purchase value", ascending = False)

# do a clean formatting 
Top_spenders["Average Purchase Price"] = Top_spenders["Average Purchase Price"].map("${:.2f}".format)
Top_spenders["Total Purchase value"]  = Top_spenders["Total Purchase value"].map("${:,.2f}".format)

# dDisplay a preview of the summary data frame
Top_spenders.head()

             Purchase count Average Purchase Price Total Purchase value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [52]:
# Retrieve the Item ID, Item Name, and Item Price columns   
mostpopular_df = purchase_df.loc[:,["Item ID","Item Name","Price"]]

# Group by Item ID and Item Name. 
groupby_popular = purchase_df.groupby(["Item ID","Item Name"])

# Perform calculations to obtain purchase count, item price, and total purchase value
purchase_count = groupby_popular["Age"].count()
avg_purchase = groupby_popular["Price"].mean()
total_purchase_value = groupby_popular["Price"].sum()

# create a DataFrame to hold the results 
mostpopular_items = pd.DataFrame({"Purchase count":purchase_count,"Average Purchase Price":avg_purchase,
                                   "Total Purchase value":total_purchase_value})

# Sort the purchase count  column in descending order 
mostpopular_items = mostpopular_items.sort_values("Purchase count", ascending = False)

# do a clean formatting 
mostpopular_items["Total Purchase value"]  = mostpopular_items["Total Purchase value"].map("${:,.2f}".format)
mostpopular_items["Average Purchase Price"] = mostpopular_items["Average Purchase Price"].map("${:.2f}".format)


# display the Most Popular Items summary table 
mostpopular_items.head()

,,Purchase count,Average Purchase Price,Total Purchase value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [53]:
#Sort the above table by total purchase value in descending order

mostprofitable_df = mostpopular_items.sort_values(by = ["Total Purchase value"],ascending = False)

mostprofitable_df.head()

,,Purchase count,Average Purchase Price,Total Purchase value
Item ID,Item Name,,,
63,Stormfury Mace,2,$4.99,$9.98
29,"Chaos, Ender of the End",5,$1.98,$9.90
173,Stormfury Longsword,2,$4.93,$9.86
38,"The Void, Vengeance of Dark Magic",4,$2.37,$9.48
143,Frenzied Scimitar,6,$1.56,$9.36